fastapi
uvicorn
pandas
numpy
# Instala direto do GitHub para garantir compatibilidade e correção de bugs
git+https://github.com/twopirllc/pandas-ta.git@development
google-generativeai
pydantic
